
@{
    ViewBag.Title = "UpdateM";
}

<h2>UpdateM</h2>

<form method="post">
    ID:  <input type="text" name="Id" />
    Manager Name :  <input type="text" name="MName" />
    Email:  <input type="text" name="Email" />
    Role:  <input type="text" name="Role" />

    <button type="submit">Update</button>
</form>