
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/sideBar.cshtml";
    // Layout = "~\Views\Shared\_LayoutPage1.cshtml";

}

 <html>
<head>




</head>
<body>

    <h2>Details of Ticket</h2><a href="/Tickets_html.aspx" class="btn btn-primary btn-large"> Details</a>
    <br />
    <br />
    <br />
    <a href="~/Bugs.aspx" role="button" class="btn btn-success btn-large"> Edit Tickets</a>

</body>
</html>

 


 

