
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/sideBar.cshtml";

}
<html>
<head>

</head>
<body>
    <h2>All Users</h2><a href="~/UsersHTML.aspx" role="button" class="btn btn-primary btn-large">See Users</a>
    <a href="~/Users.aspx" role="button" class="btn btn-success btn-large">Users Details</a>
</body>



</html>

