
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr/>
<link href="~/Style/Style.css" rel="stylesheet" type="text/css" />

<ul>
    <li data-text="Manage Role Assigment"><a href="/ManageRole">Manage Role Assigment</a></li> 
    <li data-text="My Projects"><a href="/Projects">My Projects</a></li>
    <li data-text="My Tickets"><a href="/Tickets">My Tickets</a></li>  
    <li data-text="My Users"><a href="/Users">My users</a></li> 
</ul>
